table{
    color:rgb(28, 25, 39);
    text-align: center;
    font:normal 3em Arial, sans-serif;
    border-collapse: collapse;
    border-spacing:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}


tr{
    height: 90px;
    background-color: rgb(230, 45, 137);

}
td{
    width:100px
    border: 2px  solid rgb(38, 141, 238)
    

}

#inputBox{
    border:none;
    background-color: rgb(247, 171, 206);
    text-align:center;
    width:100%;
    font-size: 2em;
    color:rgb(12, 11, 12)
    
}

.digitButton{
    background-color:rgb(172, 56, 110);
    width: 90px;
    height: 90px;
    border-radius:8px;
    font-size:20px;
    border:2px soild white;
    
}

.operatorButton{
    background-color: rgb(235, 88, 157);
     width: 90px;
    height: 90px;
    border-radius:8px;
    font-size:20px;
    border: 2px solid white;
    
}

.ACButton{
    background-color: rgb(194, 54, 96);
     width: 90px;
    height: 90px;
    border-radius:8px;
    font-size:20px;
    border: 2px soilid white;
    
}